body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    /* background-image: url(../img/GRAD.jpg); */
    background: rgba(156, 156, 156, 0.01);
}

:focus{
    box-shadow: none !important;
}

.nav-link{
    color: black !important;
    font-weight: 600;
    font-size: 15px;
}

.log-out
{
    color: blueviolet !important;
    margin-top: 10px;
    font-size: 15px !important;
    font-weight:450 !important;
}

.back-img
{
    z-index: -1000;
}
.back-img-2{
    z-index: 0;
    border-radius: 15px;
}
.back-img-form{
    border-radius: 15px;
}

.contain
{
    margin-top: 160px;
}
.welcome{
    color: black;
    font-size: 3rem;
}
.para-descript
{
    color: black;
    font-size: 1.5rem ;
}
.signup
{
    background-color: blueviolet;
    color: white;
    transition: 1s;
}
.signin
{
    border: 1px solid blueviolet;
    color: blueviolet;
    transition: 1s;
}

.signup:hover
{
    background-color: white !important ;
    border:1px solid blueviolet !important;
    color: blueviolet;
    transition: 1s;
}
.signin:hover
{
    background-color: blueviolet;
    color: white;
    transition: 1s;
}
.copy{
    color: white;
}

/*Form login*/

.fill{
    font-weight: 700;
    font-size: 35px;
    color:white ;
}

input[type=email], input[type=password], input[type=text],input[type=tel],input[type=datetime-local], input[type=number], .data
{
    border: none;
    transition: 1s;
    color: black;
    outline: none;
    background-color: rgba(227, 254, 255, 0.5);

}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus, input[type=datetime-local]:focus, input[type=number]:focus
{
    border: none;
    /* border: 1px solid blueviolet; */
    background-color: rgba(227, 241, 255, 0.5);
    color: black;
    transform: scale(1.1);

}
input[type=email]:hover, input[type=password]:hover, input[type=text]:hover, input[type=tel]:hover, input[type=datetime-local]:hover, input[type=number]:hover
{
    transition: 1s;
    transform: scale(1.1);

}



input[type=submit]{
    background-color: blueviolet;
    border: none;
    color: white;
    border-radius: 20px;
    transition: 1s;
    cursor: pointer;
}


input[type=email]::placeholder, input[type=password]::placeholder, input[type=text]::placeholder,
input[type=tel]::placeholder, input[type=datetime-local]::placeholder, input[type=number]::placeholder
{
    font-size: 15px;
   color: rgb(80, 80, 80);
}

.submit{
    color: white ;
    background-color: blueviolet;
}

.sign, .forgot{
    color: blueviolet ;
}

.nom_app{
    
    color: blueviolet;
}

hr{
    background-color: blueviolet;
}

.card{
    /* box-shadow: 0px 0px 10px 4px rgba(156, 156, 156, 0.50); */
    transition: 1s;
}
.card:hover{
    transform: scale(1.1);
    transition: 1s;
}

.tarif
{
    background-color:blueviolet ;
    color: white;
}

.bg-voile{
    background-color: rgba(156, 156, 156, 0.6);

}

input[type=search]::placeholder
{
    color: rgb(80, 80, 80);
}

input[type=search]:focus
{
    background-color: bisque;
    color: rgb(58, 58, 58);
}

.new{
    background:transparent;
    color:blueviolet; 
    border-radius: 10px;
    border:1px solid blueviolet;
    transition: 1s;

}
.new:hover{
    background-color: blueviolet;
    color:white;
     border-radius: 10px;
     transition: 1s;
     transform:scale(1.1);
}

.active_{
    border-bottom: 2px solid blueviolet;
    color: blueviolet;
}

#radioBox{
    display: none;
}

#avanceBox{
    display: none;
}

.btn-green
{
    background-color: rgb(79, 255, 79);
    color: white;
}

.btn-red
{
    background-color: rgb(255, 74, 74);
    color: white;
}

td{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-clearOrange{
    color: blueviolet;
}

.p_label{
    font-weight: bold;
    color:blueviolet;
}
th
{
    font-size: 20px;
    color: blueviolet !important;
}

.alert-affaire{
    background-color: rgba(227, 241, 255, 0.5);
}


/* USer Management */

